In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv("titles.csv")

df.sample(10)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
876,tm161282,Penguins of Madagascar,MOVIE,"Skipper, Kowalski, Rico and Private join force...",2014,PG,92,"['family', 'animation', 'action', 'comedy', 's...",['US'],NaN,tt1911658,6.6,89930.0,92.315,6.505
3798,tm864480,Unknown Origins,MOVIE,"Madrid, 2019. A serial killer is spreading cha...",2020,NaN,96,"['crime', 'drama', 'thriller', 'comedy', 'acti...","['AR', 'ES']",NaN,tt5827790,6.1,6769.0,8.534,6.100
191,tm110160,Avvai Shanmugi,MOVIE,A divorced husband desperately misses his daug...,1996,PG-13,160,"['drama', 'comedy']",['IN'],NaN,tt0139872,7.9,2586.0,2.828,7.500
1616,tm218683,The Massively Mixed-Up Middle School Mystery,MOVIE,When the ultimate prank sends their principal ...,2015,NaN,39,"['comedy', 'thriller']",['XX'],NaN,tt3521770,7.3,81.0,2.528,NaN
803,tm162592,Asmaa,MOVIE,A woman who suffers from AIDS decides not to s...,2011,NaN,96,['drama'],['EG'],NaN,tt1826603,8.1,4483.0,2.327,8.300
2907,tm325650,King of Peking,MOVIE,When home entertainment enters the market in 9...,2017,NaN,88,"['drama', 'comedy']","['AU', 'US', 'CN']",NaN,tt6406976,6.4,368.0,1.549,6.200
846,tm151663,Nightcrawler,MOVIE,"When Lou Bloom, desperate for work, muscles in...",2014,R,118,"['thriller', 'crime', 'drama']",['US'],NaN,tt2872718,7.8,531779.0,57.276,7.700
1197,ts42170,Crashing,SHOW,A comedy drama that crashes straight into the ...,2016,TV-MA,30,"['comedy', 'european']",['GB'],1.0,tt5295524,7.7,20370.0,8.663,7.300
1973,ts57964,Hotel Transylvania: The Series,SHOW,"Mavis navigates life without her dad, Dracula,...",2017,TV-Y7,15,"['family', 'animation', 'comedy', 'horror', 'f...",['US'],2.0,tt4858114,5.3,717.0,17.661,7.200
591,tm91125,Fida,MOVIE,Fida tells the story of Jai who one day happen...,2004,NaN,122,"['romance', 'thriller', 'action', 'crime', 'dr...",['IN'],NaN,tt0422236,5.4,2638.0,2.932,5.200

In [3]:
#Check de numero de datos

df.shape

(5850, 15)

In [4]:
#Reviso info de dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5850 non-null   object
 1   title                 5849 non-null   object
 2   type                  5850 non-null   object
 3   description           5832 non-null   object
 4   release_year          5850 non-null   int64
 5   age_certification     3231 non-null   object
 6   runtime               5850 non-null   int64
 7   genres                5850 non-null   object
 8   production_countries  5850 non-null   object
 9   seasons               2106 non-null   float64
 10  imdb_id               5447 non-null   object
 11  imdb_score            5368 non-null   float64
 12  imdb_votes            5352 non-null   float64
 13  tmdb_popularity       5759 non-null   float64
 14  tmdb_score            5539 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 685.7+ KB

LIMPIEZA DE DATOS

In [5]:
#Check de duplicados

df.duplicated().sum()

0

In [6]:
#Check de nulos

df.isnull().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

Claramente, no pueden haber nulos en titulo. Por lo que va a ser una parte a limpiar.

Casi la mitad de seasons esta vacia, eso es porque solo los tipo show tienen seasons, las peliculas no.

In [14]:
peliculas = df[df.type == 'MOVIE']

peliculas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3744 entries, 1 to 5848
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3744 non-null   object
 1   title                 3743 non-null   object
 2   type                  3744 non-null   object
 3   description           3735 non-null   object
 4   release_year          3744 non-null   int64
 5   age_certification     1380 non-null   object
 6   runtime               3744 non-null   int64
 7   genres                3744 non-null   object
 8   production_countries  3744 non-null   object
 9   seasons               0 non-null      float64
 10  imdb_id               3482 non-null   object
 11  imdb_score            3429 non-null   float64
 12  imdb_votes            3413 non-null   float64
 13  tmdb_popularity       3682 non-null   float64
 14  tmdb_score            3549 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 468.0+ KB

Como vemos, todas las filas de seasons son nulas. Por lo que el razonamiento previo es correcto.

In [40]:
df[['imdb_score','imdb_votes', 'tmdb_popularity', 'tmdb_score']].describe()

        imdb_score    imdb_votes  tmdb_popularity   tmdb_score
count  5368.000000  5.352000e+03      5759.000000  5539.000000
mean      6.510861  2.343938e+04        22.637925     6.829175
std       1.163826  9.582047e+04        81.680263     1.170391
min       1.500000  5.000000e+00         0.009442     0.500000
25%       5.800000  5.167500e+02         2.728500     6.100000
50%       6.600000  2.233500e+03         6.821000     6.900000
75%       7.300000  9.494000e+03        16.590000     7.537500
max       9.600000  2.294231e+06      2274.044000    10.000000

Ahora procedemos a reemplazar los valores vacios de imdb_score y tmdb_score con los promedios

In [43]:
df['imdb_score'].replace([np.nan], round(df['imdb_score'].mean(),1), inplace=True)
df['tmdb_score'].replace([np.nan], round(df['tmdb_score'].mean(),1), inplace=True)
df['tmdb_score'] = round(df['tmdb_score'],1)

df.isnull().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  403
imdb_score                 0
imdb_votes               498
tmdb_popularity           91
tmdb_score                 0
dtype: int64

Y finalmente, pasamos a guardar el archivo un poco mas limpio como titles_filtrado para los siguientes analisis.

In [47]:
df.to_csv('titles_filtrado.csv')